<div class="flex flex-col justify-center px-6 py-12 lg:px-8 min-h-screen">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center">
    <span class="material-symbols-outlined text-4xl auth-logo">
      smart_toy
    </span>
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-text-primary"
    >
      Sign in to your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email" class="block text-sm/6 font-medium text-text-primary"
          >Email address</label
        >

        <div class="mt-2">
          <input
            type="email"
            id="email"
            formControlName="email"
            autofill="email"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-secondary-100 sm:text-sm/6"
          />
          <span
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
            class="text-md font-thin text-red-500 text-xs"
          >
            Email is <strong>required</strong>
          </span>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm/6 font-medium text-text-primary"
            >Password</label
          >
          <div class="text-sm">
            <a
              href="#"
              class="font-semibold text-accent-purple-2 hover:text-accent-purple"
              >Forgot password?</a
            >
          </div>
        </div>
        <div class="mt-2">
          <input
            type="password"
            id="password"
            formControlName="password"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-secondary-100 sm:text-sm/6"
          />
          <span
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="text-md font-thin text-red-500 text-xs"
          >
            Password is <strong>required</strong>
          </span>
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="flex w-full justify-center rounded-md bg-secondary-100 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-accent-purple focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-100 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Sign in
        </button>
        <span
          *ngIf="errorMessage"
          class="text-md font-thin text-red-500 text-xs"
        >
          {{ errorMessage }}
        </span>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Not a member?
      <a
        routerLink="/register"
        class="font-semibold text-accent-purple-2 hover:text-accent-purple cursor-pointer"
        >Click here To Register</a
      >
    </p>
  </div>
</div>
