<div class="flex items-center justify-between h-24 px-6 bg-gradient-2">
  <div class="relative w-1/2">
    <input
      type="text"
      placeholder="Search..."
      class="w-full h-12 ml-12 p-2 pl-10 rounded-md bg-secondary-100 text-text-primary font-thin text-lg tracking-wider focus:outline-none focus:ring-2 focus:ring-accent-blue"
    />
    <svg
      class="absolute left-15 top-3 w-6 h-6 text-text-secondary"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <path
        d="M10 2a8 8 0 015.293 13.707l3.387 3.387a1 1 0 01-1.414 1.414l-3.387-3.387A8 8 0 1110 2zm0 2a6 6 0 104.242 10.242A6 6 0 0010 4z"
      />
    </svg>
  </div>
</div>
