<div class="flex items-center h-24 px-6 bg-primary-300 w-full justify-between">
  <div class="w-[40%]">
    <div class="relative w-full">
      <input
        type="text"
        placeholder="Search Games..."
        class="w-full h-12 p-2 pl-10 rounded-md ml-24 lg:ml-16 md:ml-8 sm:ml-5 bg-secondary-100 text-text-primary font-thin text-lg tracking-wider focus:outline-none focus:ring-2 focus:ring-accent-blue"
        [(ngModel)]="searchQuery"
        (keyup)="onSearchInputChange()"
      />
      <svg
        class="absolute left-20 top-3 w-6 h-6 text-text-secondary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M10 2a8 8 0 015.293 13.707l3.387 3.387a1 1 0 01-1.414 1.414l-3.387-3.387A8 8 0 1110 2zm0 2a6 6 0 104.242 10.242A6 6 0 0010 4z"
        />
      </svg>
    </div>
    <div
      *ngIf="searchQuery && searchedGameData.length > 0"
      class="absolute w-[25%] mt-1 ml-24 lg:ml-16 md:ml-8 sm:ml-5 bg-secondary-200 border border-accent-blue rounded-md shadow-md"
    >
      <div *ngFor="let item of searchedGameData">
        <div
          class="flex items-center p-2 cursor-pointer text-text-primary hover:bg-accent-yellow hover:text-primary-200 font-bold"
        >
          <img
            [src]="item.background_image"
            [alt]="item.slug"
            class="h-12 w-12 rounded-md"
          />
          <h5 class="ml-2 text-sm">{{ item.name }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="mr-24 lg:mr-16 md:mr-8 sm:mr-5 flex flex-row gap-4">
    <a
      routerLink="log-in"
      mat-menu-item
      routerLinkActive="active"
      class="rounded-md px-3 py-2 text-base font-light hover:bg-gray-700 text-white flex flex-row gap-1 items-center cursor-pointer w-full p-2"
    >
      <mat-icon>person</mat-icon>
      <span>Log In</span>
    </a>
    <a
      routerLink="register"
      mat-menu-item
      routerLinkActive="active"
      class="rounded-md px-3 py-2 text-base font-light hover:bg-gray-700 text-white flex flex-row gap-1 items-center cursor-pointer w-full p-2"
    >
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </a>
  </div>
</div>
