<div class="flex flex-col justify-center px-6 py-12 lg:px-8 min-h-screen">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center">
    <span class="material-symbols-outlined text-4xl auth-logo">
      smart_toy
    </span>
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-text-primary"
    >
      Register your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6"
    >
      <div class="flex flex-row items-center gap-4">
        <div class="w-1/2">
          <label
            for="fName"
            class="block text-sm/6 font-medium text-text-primary"
            >First Name <span class="text-red-600">*</span></label
          >
          <div class="mt-2">
            <input
              type="text"
              id="fName"
              formControlName="firstName"
              required
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-secondary-100 sm:text-sm/6"
            />
          </div>
        </div>
        <div class="w-1/2">
          <label
            for="lName"
            class="block text-sm/6 font-medium text-text-primary"
            >Last Name <span class="text-red-600">*</span></label
          >
          <div class="mt-2">
            <input
              type="text"
              id="lName"
              formControlName="lastName"
              required
              class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-secondary-100 sm:text-sm/6"
            />
          </div>
        </div>
      </div>

      <div class="flex flex-col min-h-8">
        <span
          *ngIf="
            registrationForm.get('firstName')?.hasError('required') &&
            registrationForm.get('firstName')?.touched
          "
          class="text-md font-thin text-red-500 text-xs"
        >
          First name is required.
        </span>
        <span
          *ngIf="
            registrationForm.get('lastName')?.hasError('required') &&
            registrationForm.get('lastName')?.touched
          "
          class="text-md font-thin text-red-500 text-xs"
        >
          Last name is required.
        </span>
      </div>

      <div>
        <label for="email" class="block text-sm/6 font-medium text-text-primary"
          >Email address <span class="text-red-600">*</span></label
        >
        <div class="mt-2">
          <input
            type="email"
            id="email"
            formControlName="email"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-secondary-100 sm:text-sm/6"
          />
          <span
            *ngIf="
              registrationForm.get('email')?.hasError('required') &&
              registrationForm.get('email')?.touched
            "
            class="text-md font-thin text-red-500 text-xs"
          >
            Email is <strong>required</strong>.
          </span>
          <span
            *ngIf="
              registrationForm.get('email')?.hasError('email') &&
              registrationForm.get('email')?.touched
            "
            class="text-md font-thin text-red-500 text-xs"
          >
            Please enter a valid email address.
          </span>
        </div>
      </div>

      <div>
        <label
          for="password"
          class="block text-sm/6 font-medium text-text-primary"
          >Password <span class="text-red-600">*</span></label
        >
        <div class="mt-2">
          <input
            type="password"
            id="password"
            formControlName="password"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-secondary-100 sm:text-sm/6"
          />
          <span
            *ngIf="
              registrationForm.get('password')?.hasError('required') &&
              registrationForm.get('password')?.touched
            "
            class="text-md font-thin text-red-500 text-xs"
          >
            Password is <strong>required</strong>.
          </span>
          <span
            *ngIf="
              registrationForm.get('password')?.hasError('pattern') &&
              registrationForm.get('password')?.touched
            "
            class="text-md font-thin text-red-500 text-xs"
          >
            Password must contain at least one uppercase, one lowercase, one
            number, one special character, and be at least 8 characters long.
          </span>
        </div>
      </div>

      <div>
        <label
          for="confirmPassword"
          class="block text-sm/6 font-medium text-text-primary"
          >Confirm Password <span class="text-red-600">*</span></label
        >
        <div class="mt-2">
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-black outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-secondary-100 sm:text-sm/6"
          />
          <span
            *ngIf="
              registrationForm.get('confirmPassword')?.hasError('required') &&
              registrationForm.get('confirmPassword')?.touched
            "
            class="text-md font-thin text-red-500 text-xs"
          >
            Please confirm your password.
          </span>
          <span
            *ngIf="errorMessage"
            class="text-md font-thin text-red-500 text-xs"
          >
            {{ errorMessage }}
          </span>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-secondary-100 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-accent-purple focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-100 cursor-pointer"
        >
          Register
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Already a member?
      <a
        routerLink="/log-in"
        class="font-semibold text-accent-purple-2 hover:text-accent-purple cursor-pointer"
        >Click here to log in</a
      >
    </p>
  </div>
</div>
