<div class="bg-primary flex flex-row justify-around items-center h-full">
  <div
    class="rounded-lg bg-accent-purple-2 relative w-45% flex flex-col gap-6 justify-center max-h-80 h-full w-xl px-24 py-9 bg-[url('/Vector1.png')]"
  >
    <img src="/outline.png" class="absolute h-96 -right-22 -bottom-2" />
    <h1 class="text-text-primary font-bold text-2xl italic max-w-[60%] z-10">
      Join Giveaways Every Month! Lorem ipsum dolor sit amet.
    </h1>

    <button
      class="before:ease relative h-12 w-40 overflow-hidden flex flex-row justify-center gap-3 items-center border border-accent-green bg-accent-green rounded-lg text-accent-purple-2 shadow-2xl transition-all before:absolute before:right-0 before:top-0 before:h-12 before:w-6 before:translate-x-12 before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:shadow-accent-purple hover:before:-translate-x-40"
    >
      <span class="material-symbols-outlined"> add </span>
      <span class="font-bold"> Join Giveaway </span>
    </button>
  </div>
  <div
    class="rounded-lg bg-primary-200 border border-accent-blue relative w-45% flex flex-col gap-6 justify-center max-h-80 h-full w-xl px-24 py-9"
  ></div>
</div>
