<div
  class="flex flex-col items-center justify-center min-h-[100vh] w-full gap-32"
>
  <div
    class="bg-primary flex flex-col 2xl:flex-row xl:flex-col gap-16 justify-around items-center min-h-full w-full pt-26"
  >
    <div
      class="rounded-lg bg-accent-purple-2 relative w-45% flex flex-col gap-6 justify-center max-h-80 min-h-72 h-full w-xl px-24 py-9 bg-[url('/Vector1.png')] shadow-primary-300 shadow-2xl"
    >
      <img src="outline.png" class="absolute h-96 -right-22 -bottom-2" />
      <h1 class="text-text-primary font-bold text-2xl italic max-w-[60%] z-10">
        Join Giveaways Every Month! Lorem ipsum dolor sit amet.
      </h1>

      <button
        class="cursor-pointer before:ease relative h-12 w-40 overflow-hidden flex flex-row justify-center gap-3 items-center border border-accent-green bg-accent-green rounded-lg text-accent-purple-2 shadow-primary-100 shadow-lg transition-all before:absolute before:right-0 before:top-0 before:h-12 before:w-6 before:translate-x-12 before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:shadow-accent-purple hover:before:-translate-x-40"
      >
        <span class="material-symbols-outlined"> add </span>
        <span class="font-bold"> Join Giveaway </span>
      </button>
    </div>
    <div
      class="rounded-lg bg-primary-200 border border-accent-blue relative w-45% flex flex-col gap-6 justify-center max-h-80 min-h-72 h-full w-xl px-24 py-9 shadow-primary-300 shadow-2xl"
    ></div>
  </div>
  <div class="w-[80%] h-auto flex flex-col gap-12 overflow-hidden">
    <h2 class="text-2xl font-bold">Top Rated Games:</h2>
    <app-carousel [games]="featuredGames" />
  </div>
</div>
