<aside class="h-full p-4 text-text-primary m-14">
  <h1 class="text-xl font-semibold mb-4">Game DB</h1>
  <nav class="space-y-2">
    <div class="ml-5 flex flex-col gap-1 items-baseline space-x-4">
      <a
        href="#"
        class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white flex flex-row gap-1 justify-center items-center"
        aria-current="page"
      >
        <span class="material-symbols-outlined"> sports_esports </span
        ><span>Games</span></a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white flex flex-row gap-1 justify-center items-center"
        aria-current="page"
      >
        <span class="material-symbols-outlined"> code_blocks </span>
        <span>Developers</span></a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white flex flex-row gap-1 justify-center items-center"
        aria-current="page"
      >
        <span class="material-symbols-outlined"> gamepad </span>
        <span>Genres</span></a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white flex flex-row gap-1 justify-center items-center"
        aria-current="page"
      >
        <span class="material-symbols-outlined"> joystick </span>
        <span>Platforms</span></a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 text-white flex flex-row gap-1 justify-center items-center"
        aria-current="page"
      >
        <span class="material-symbols-outlined"> videogame_asset </span>
        <span>Stores</span></a
      >
    </div>
  </nav>
</aside>
