<!-- <owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let item of featuredGames">
    <ng-template carouselSlide>
      <img
        src="{{ item.background_image }}"
        alt="{{ item.slug }}"
        class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
      />
    </ng-template>
  </ng-container>
</owl-carousel-o> -->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>
  <ng-template carouselSlide>Slide 2</ng-template>
  <ng-template carouselSlide>Slide 3</ng-template>
</owl-carousel-o>
