<owl-carousel-o [options]="customOptions" class="w-[80%] overflow-hidden">
  <ng-container *ngFor="let item of games">
    <ng-template carouselSlide>
      <a [routerLink]="'/games/' + item.id">
        <div class="h-72 w-auto rounded-lg">
          <img
            src="{{ item.background_image }}"
            alt="{{ item.slug }}"
            class="aspect-square h-full rounded-lg object-cover group-hover:opacity-75 xl:aspect-7/8"
          />
        </div>
      </a>
    </ng-template>
  </ng-container>
</owl-carousel-o>
