@import "tailwindcss";

@theme {
  --font-main: arial, "Oswald", "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --breakpoint-xs: 420px;

  --color-primary-100: #02060d;
  --color-primary-200: #07121e;

  --color-secondary-100: #213c59;
  --color-secondary-200: #285077;

  --color-accent-blue: #6080ff;
  --color-accent-purple: #b577ff;
  --color-accent-green: #00fa63;
  --color-accent-yellow: #fec500;

  --color-text-primary: #f8f8f8;
  --color-text-secondary: #c4cfdb;
  --color-text-muted: #9a9fa5;
}

@layer components {
  .main-container {
    @apply w-full xl:max-w-[1320px] lg:max-w-[1080px] md:max-w-4xl sm:max-w-2xl xs:max-w-xl xs:p-2;
  }
}

body {
  font-family: var(--font-main);
  background-color: var(--color-primary-100);
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
}
.bg-gradient {
  background: rgb(68, 26, 125);
  background: linear-gradient(
    169deg,
    rgba(68, 26, 125, 1) 1%,
    rgba(7, 18, 30, 1) 8%,
    rgba(2, 6, 13, 1) 92%,
    rgba(117, 41, 209, 1) 99%
  );
}
.bg-gradient-2 {
  background: rgb(50, 17, 96);
  background: linear-gradient(
    169deg,
    rgba(50, 17, 96, 1) 1%,
    rgba(7, 18, 30, 1) 4%,
    rgba(2, 6, 13, 1) 40%,
    rgba(17, 8, 33, 1) 59%,
    rgba(60, 28, 102, 1) 77%,
    rgba(65, 22, 117, 1) 86%,
    rgba(117, 41, 209, 1) 96%
  );
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
